.low-usage {
    color: green;
}

.medium-usage {
    color: black;
}

.high-usage {
    color: red;
}

#container {
    background: whitesmoke;
    border-radius: 30px;
    text-align: center;
    margin-top: 5%;
  }